[core]
	autocrlf = input
[user]
	name = John Zeng 
	email = johnzengzy@outlook.com
	signingKey = F1D06A06 
[commit]
	gpgsign = true
[rerere]
  enabled = true
[fetch]
	writeCommitGraph = true
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[includeIf "gitdir:~/Desktop/src/"]
  path = ~/src/.gitconfig
